									<center>
										<table border=0 cellpadding=10>
											<tr>
										  	<td colspan=3 align=center><h2><!--$plugin_title-->-Plugin</h2><img src="../../../system/images/icons/https2http/icon_64.png"></td>
										  </tr>
										  <tr>
										  	<td colspan=3 align=center>Dieses Plugin erm&ouml;glicht es, verschl&uuml;sselte Webseiten (https://) in Verbindung mit dem Objekt <a href="http://www.loxone.com/dede/service/dokumentation/loxone-config/peripherie/virtueller-http-eingang.html" target="loxone"><b>Virtueller HTTP Eingang</b></a> der <i>Loxone Config</i> zu verwenden. <br/><br/><small>Es ruft die Webseite im Hintergrund &uuml;ber eine https-Verbindung auf und stellt den Inhalt unter der LoxBerry Plugin-Adresse via HTTP-Protokoll zur weiteren Verarbeitung zur Verf&uuml;gung.</small></td>
										  </tr>
										  <tr>
										  	<td colspan=3 align=center><b>Dieses Plugin hat keine Einstellungen.</b><hr></td>
										  </tr>
										  <tr>
										  	<td colspan=3 align=left>Bitte hier die Adresse der Webseite eingeben: <br/><input onkeyup="$('#target_link').val( $('#my_url').val() + encodeURIComponent( $('#target_website').val() ) );" id="target_website" type="text" value="https://webseite.de"></td>
										  </tr>
										  <tr>
										  	<td colspan=3 align=left>Der Aufruf im virtuellen HTTP-Eingang erfolgt &uuml;ber diese Adresse: <br/><input id="target_link" type="text" value="<!--$https2http_url-->"></td>
										  </tr>
										  <tr>
										  	<td colspan="2">
										  		<span id="response">&nbsp;</span>
										  	</td>
											</tr>
										</table>
									</center>
									<input id="my_url" type="hidden" value="<!--$https2http_url-->">
									<p>
										&nbsp;
									</p>
									<p>
										<center>
											<a id="btncancel" data-role="button" data-inline="true" data-mini="true" data-icon="check" href="/admin/index.cgi">OK</a>
										</center>
									</p>
									<script>$('#target_website').trigger('keyup');</script>
